
//MINI ROW LAOYUT//
.masonry-item { 
    width: 300px; 
}

////////////////FORMS///////////////////////
.formsArea{
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}
///////////////**********//////////////////
.mainWindow{
    margin-top: 50px;
}
.sectionSeparator{
    margin-bottom: 20px;
}
.mainAnuncio{
    margin: 1.5px;
    border:solid 1px black;
}
.centerText{
    text-align: center;
}
.mainAnuncioMobile{
    background: white;
    margin-bottom: 10px;
}
/////////////////////////////////////////
///////////////////SIZEs////////////////
//////////////////////////////////////
/* XS */
@media (max-width: 767px) {
    .mainWindow{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .desktop{
        display: none;
    }
}
/* XS, SM */
@media (max-width: 991px) {

}
/* SM */
@media (min-width: 768px) and (max-width: 991px) {
    .mainWindow{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .mobile{
        display: none;
    }
}
/* MD */
@media (min-width: 992px) and (max-width: 1199px) {
    .mainWindow{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}
/* MD, LG */
@media (min-width: 992px) {
    .mobile{
        display: none;
    }
}
/* LG */
@media (min-width: 1200px) {
  .mainWindow{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
  }
}