   <div *ngIf="hahaValidator" class="mainWindow">
    <!-- MAIN CONTETNT -->
    <div *ngIf="stateVista==1">
      <div class="container sectionSeparator">
        <div class="row">
          <div class="col-sm">
            <h6 class="centerText">PARA ANUNCIAR EN ESTA SECCION GRATUITA DEBES TENER UNA CONTRASEÑA ADEMAS TUS FOTOS DEBEN TENER EL CARTELITO DE CYBERNENAS, SOLICITA DELIVERY TU CATELITO Y TU CONTRASEÑA VIA SMS AL 985511509 SIN COSTO ALGUNO. Anunciantes que ya tienen fotos con el cartel de cybernenas, solo deben solicitar su contraseña.</h6>
          </div>
        </div>
      </div>
      <div class="container sectionSeparator">
        <div class="row">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="openLogin()">Agrega tu anuncio aquí!</button>
        </div>
      </div>

      <!-- ANUNCIOS -->
      <div class="mobile">
        <div class="mainAnuncio mainAnuncioMobile" *ngFor="let item of posts">
          <img class="card-img-top" src="{{item.imagen}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{item['anunciante']}}&nbsp;&nbsp;-&nbsp;&nbsp;{{item['telefono']}}</h5>
            <p class="card-text">S/. {{item['precio']}}</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Incluye Habitación: {{item['incluyeHab']}}</li>
              <li class="list-group-item centerText"><button type="button" class="btn btn-secondary" (click)="showDetails(item)">Más información</button></li>
            </ul>
            <div class="card-body">
              <a class="card-link">Fecha: {{item['fecha']}}</a>
            </div>
          </div>
        </div>
      </div>
      
      <ngx-masonry class="desktop">
        <div ngxMasonryItem class="card masonry-item mainAnuncio" style="width: 18rem;"  *ngFor="let item of posts">
          <img class="card-img-top" src="{{item.imagen}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{item['anunciante']}}&nbsp;&nbsp;-&nbsp;&nbsp;{{item['telefono']}}</h5>
            <p class="card-text">S/. {{item['precio']}}</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Incluye Habitación: {{item['incluyeHab']}}</li>
              <li class="list-group-item centerText"><button type="button" class="btn btn-secondary" (click)="showDetails(item)">Más información</button></li>
            </ul>
            <div class="card-body">
              <a class="card-link">Fecha: {{item['fecha']}}</a>
            </div>
          </div>
        </div>
      </ngx-masonry>
    </div>
    <!-- LOGIN  -->
    <div *ngIf="stateVista==2">
        <div class="formsArea">
          <div>
            <h3>
              <strong>Accede con la contraseña proporcionada por el administrador</strong>
            </h3>
          </div>
          <form [formGroup]="loginForm">
              <!-- <div class="form-group">
                <label for="name" class="control-label">Nombre de usuario</label>
                <input type="text" id="name" class="form-control" placeholder="Nombre de usuario" [formControl]="loginForm.controls['name']">
              </div> -->
              <div class="form-group">
                <label for="pass" class="control-label">Password</label>
                <input type="text" id="pass" class="form-control" placeholder="Password" [formControl]="loginForm.controls['pass']">
              </div>
              <div>
                <button type="button" class="btn btn-primary" [disabled]="!loginForm.valid" (click)="logearse()">Logearse</button>
              </div>
          </form>
        </div>
    </div>
    <!-- REGISTOR DE ANUNCIOS -->
    <div *ngIf="stateVista==3">
        <div class="formsArea">
          <div>
            <h3>
              <strong>Completa todos los datos del formulario</strong>
            </h3>
          </div>
          <form [formGroup]="registerForm">
              <div class="form-group">
                <label for="anunciante" class="control-label">Nombre de anunciante</label>
                <input type="text" id="anunciante" class="form-control" placeholder="Nombre de anunciante" [formControl]="registerForm.controls['anunciante']">
              </div>
              <div class="form-group">
                <label for="descripcion" class="control-label">Descripcion del Anuncio</label>
                <input type="text" id="descripcion" class="form-control" placeholder="Descripcion del Anuncio" [formControl]="registerForm.controls['descripcion']">
              </div>
              <div class="form-group">
                <label for="imagen" class="control-label">Imagen del anuncio</label>
                <input type="file" id="imagen" class="form-control" placeholder="Imagen del anuncio" (change)="handleFileSelect($event)" [formControl]="registerForm.controls['imagen']">
              </div>
              <div class="form-group">
                <label for="precio" class="control-label">Precio</label>
                <input type="number" id="precio" class="form-control" placeholder="Precio" maxlength="5" [formControl]="registerForm.controls['precio']">
              </div>
              <div class="form-group">
                <label for="telefono" class="control-label">Telefono</label>
                <input type="number" id="telefono" class="form-control" placeholder="Telefono" maxlength="12" [formControl]="registerForm.controls['telefono']">
              </div>
              <div class="form-group">
                <label for="incluyeHab" class="control-label">Incluye Habitacion</label>
                <select id="incluyeHab" class="form-control" placeholder="Incluye Habitacion" [formControl]="registerForm.controls['incluyeHab']">
                    <option value="Si">Si, incluye habitación</option>
                    <option value="No">No, incluye habitación</option>
                </select>
              </div>
              <div>
                <button type="button" class="btn btn-primary" [disabled]="!registerForm.valid" (click)="registrar()">Registrarse</button>
              </div>
          </form>
        </div>
    </div>
    <!-- MAIN CONTENT -->
</div>
<div class="centerText" *ngIf="!hahaValidator">
  <img src="./assets/payme.jpg" alt="">
</div>
  